.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #21160e;
  color: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 9999;
}

.sidebar.open {
  transform: translateX(0);
}

.toggle-button {
  position: absolute;
  top: 50px;
  left: 320px;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

@media (min-width: 300px) {
  .toggle-button {
    top: 30px;
  }
}

@media (min-width: 768px) {
  .toggle-button {
    top: 50px;
  }
}
@media (min-width: 1024px) {
  .toggle-button {
    top: 50px;
  }
}
@media (min-width: 1280px) {
  .toggle-button {
    top: 50px;
  }
}
@media (min-width: 1536px) {
  .toggle-button {
    top: 50px;
  }
}

.sidebar-content {
  padding: 20px;
}

.sidebar-content ul {
  list-style-type: none !important;
  padding: 0;
}

.sidebar-content ul li {
  margin: 20px 0;
}

/* .sidebar-content ul li a {
  color: white;
  text-decoration: none;
  list-style: none !important;
} */

.sidebar-content ul li a:hover {
  text-decoration: underline;
  /* border-bottom: 3px solid red; */
}
